.websiteProjectHome {
    background-color: rgb(221,221,221);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

@media (max-width: 1000px) {
    .websiteProjectHome {
        flex-direction: column-reverse;
        height: auto;
    }

    .websiteVid {
        height: 200px;
    }
}